@font-face {
  font-family: 'GenKiMin';
  src: url('../../../../public/GenKiMin2TW-M.otf');
}

@media (min-width: 1400px) {
  .container {
      max-width: 100%;
      max-height: 100%;
      background: linear-gradient(135deg, #f5f7fa, #c3d5eb);
  }
}

.sidenav {
  width: 300px;
  min-height: 80vh;
  // background-color: #ffffff;
  font-size: 20px;
  margin-left: 1.5rem;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw; /* 確保填滿螢幕寬度 */
}

.account-info {
  flex: 2; /* 填滿剩餘空間 */
}

// .account-info {
//   margin-left: 5rem;
//   width: 50%;
//   min-height: 75vh;
//   padding: 1rem;
//   background-color: #ffffff;
//   box-shadow: 0 0 15px gray;
//   position: relative; /* 設置父容器為定位基準 */
// }

// .header {
//   margin-bottom: 20px;
  
//   h1 {
//     font-weight: bold; 
//     font-family: 'GenKiMin','sans-serif';
//   }

// }

// .nav {
//   width: 300px;
//   height: 5px;
//   background-color: #005593;
//   margin-bottom: 10%;
// }


// // email驗證狀態區域和按鈕
// .email-status {
//   display: flex;
//   align-items: center;
//   width: 100%;
//   gap: 10px
// }

// .email-text label {
//   font-weight: bold;
//   font-size: 24px;
// }


// // 個人資料區域
// .info-group {
//   margin-top: 2rem;

//   label {
//     font-size: 1rem;
//     font-weight: bold;
//     color: #132355;
//     font-size: 24px;
//   }
  
//   span {
//     font-size: 20px;
//     color: #666;
//     font-weight: bold;
//   }
// }

// // 下方按鈕
// .action-buttons {
//   display: flex;
//   position: absolute;
//   gap: 10px;
//   bottom: 10px;
//   left: 20px;  
// }

// .btn-update, .btn-delete {
//   padding: 8px 16px;
//   font-size: 1rem;
//   border-radius: 5px;
//   width: 10rem;
//   height: 2.5rem;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }

// .btn-update {
//   background-color: #909cf4;
//   color: black;
//   font-weight: bold;
//   font-size: 18px;
//   border: none;
// }

// .btn-update:hover {
//   background-color: #676692;
// }

// .btn-update:active {
//   background-color: #0a0b4b;
// }

// .btn-delete {
//   background-color: #75f1db;
//   color: black;
//   font-weight: bold;
//   font-size: 18px;
//   border: none;
// }

// .btn-delete:hover {
//   background-color: #63bfdb;
// }

// .btn-delete:active {
//   background-color: #117a8f;
// }
