<div class="container">
  <h2>書籤</h2>
  <div class="nav"></div>
  <mat-tab-group dynamicHeight  [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">bookmark</mat-icon> 我的書籤
      </ng-template>
      <ul class="bookmark-list">
        @for (bookmark of myBookmarks; track $index) {
        <li class="bookmark-item">
          <!-- 法院與字號與時間 -->
          <div>
            <span class="bookmark-header">{{ this.sessionServiceService.turnCodeToName(bookmark.court) }}</span>
            <span class="bookmark-header" (click)="checkContent(bookmark.group_id, bookmark.id, bookmark.court)">
              {{ bookmark.id }}
            </span>
            <span class="bookmark-header">{{ bookmark.verdictDate }}</span>
            <mat-icon (click)="toggleRemoveBookmark(bookmark)"
              style="cursor: pointer; font-size: 28px;"
              fontIcon = "bookmark_remove"
              routerLinkActive="active" 
              matTooltip="刪除書籤">
            </mat-icon>
          </div>
          <!-- 詳細資訊 -->
          <div class="summary">
            <div class="summary-detail"><span>法官：</span>{{ bookmark.judge_name }}</div>
            <div class="summary-detail"><span>被告：</span>{{ bookmark.defendant_name }}</div>
            <div class="summary-detail"><span>裁判種類：</span>{{ bookmark.doc_type }}</div>
            <div class="summary-detail"><span>案由：</span>{{ bookmark.charge }}</div>
          </div>
          <p (click)="checkContent(bookmark.group_id, bookmark.id, bookmark.court)">瀏覽全文...</p>
        </li>
        }
      </ul>
    </mat-tab>

    <!-- 螢光筆書籤 -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="font-family: 'Material Symbols Outlined'">format_ink_highlighter
        </mat-icon>
        螢光筆書籤
      </ng-template>
      <table class="highlight-table">
        @for (highlight of apiResponse; track $index) {
        <tr>
          <td>
            <div class="highlight-header">
              <span class="court">{{this.sessionServiceService.turnCodeToName(highlight.court)}}</span>
              <span class="judgment" style="cursor: pointer;"
              (click)="checkContent(highlight.groupId, highlight.id, highlight.court)">
                {{ highlight.id }}</span>
            </div>
            <mat-icon (click)="toggleRemoveHighlighter(highlight)"
              style="cursor: pointer; font-size: 26px;"
              fontIcon = "edit_off"
              routerLinkActive="active"
              matTooltip="刪除螢光筆" >
              </mat-icon>
            <div class="highlight-content">
              @for (content of highlight.content; track content.text) {
              <div class="highlight-item">
                <span [ngStyle]="{ 'background-color': content.color }">{{ content.text }}</span>
              </div>
              }
            </div>
            <p (click)="checkContent(highlight.groupId, highlight.id, highlight.court)">瀏覽全文...</p>
          </td>
        </tr>
        }
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
<p-scrolltop />
