<div class="container">
  <div class="login-info">
    <h1 style="font-weight: bold;">歡迎！</h1>
    <div class="nav"></div>
    <h3>法律雲平台登入系統</h3>
    <div class="input">
      <div class="email-area">
        <label class="input-label">信箱</label>
        <input type="text" class="input-email" pInputText [(ngModel)]="email" (keyup)="updateEmailForm($event)"
          placeholder="請輸入Email" />
        @if (errorMessage) {
        <br>
        <small
          style="color: red; display: inline-block; margin-left: 1%;position: absolute;left: 22.4%;">{{errorMessage}}</small>
        }
      </div>
      <div class="password-wrapper">
        <label class="input-label">密碼</label>
        <input type="{{ isPasswordVisible ? 'text' : 'password' }}" pInputText [(ngModel)]="password"
          placeholder="請輸入密碼" (keyup.enter)="login()">
        <button type="button" (click)="togglePassword()">
          <i [class]="isPasswordVisible ?  'pi pi-eye' : 'pi pi-eye-slash' "></i>
        </button>
      </div>
    </div>
    <a class="forget-password" (click)="goForgotPassword()">忘記密碼？</a>
    <button class="login-btn" (click)="login()">登入</button>
    <br>
    <div class="create-account">
      <span>還沒有帳號嗎？</span>
      <a class="create-account-link" (click)="goRegister();">建立帳號</a>
    </div>
  </div>
</div>
