<div class="container">

  <div class="text-area">

    <div class="header">
      <h2>用戶資訊更新</h2>
    </div>

    <div class="nav"></div>

    <div class="update-form">
      <label style="font-size: 22px;">您目前的使用者類型為：</label>
      <span>{{this.role}}</span>

      <!-- 根據角色顯示要切換的使用者類型 -->
      <div class="form-group">
        <label for="role" style="font-size: 22px;">選擇使用者類型：</label>

        @if (this.role == '事務所') {
        <div class="option">
          <input type="radio" id="lawyer" name="role" value="lawyer" [(ngModel)]="this.newRole">
          <label for="lawyer">律師</label><br>
        </div>

        <div class="option">
          <input type="radio" id="user" name="role" value="user" [(ngModel)]="this.newRole">
          <label for="user">一般會員</label><br>
        </div>
        }

        @if (this.role == '律師') {
        <div class="option">
          <input type="radio" id="lawFirm" name="role" value="lawFirm" [(ngModel)]="this.newRole">
          <label for="lawFirm">事務所</label><br>
        </div>

        <div class="option">
          <input type="radio" id="user" name="role" value="user" [(ngModel)]="this.newRole">
          <label for="user">一般會員</label><br>
        </div>
        }

        @if (this.role == '一般使用者') {
        <div class="option">
          <input type="radio" id="lawFirm" name="role" value="lawFirm" [(ngModel)]="this.newRole">
          <label for="lawFirm">事務所</label><br>
        </div>

        <div class="option">
          <input type="radio" id="lawyer" name="role" value="lawyer" [(ngModel)]="this.newRole">
          <label for="lawyer">律師</label><br>
        </div>
        }

        @if (this.role == '使用者') {
        <div class="option">
          <input type="radio" id="lawFirm" name="role" value="lawFirm" [(ngModel)]="this.newRole">
          <label for="lawFirm">事務所</label><br>
        </div>

        <div class="option">
          <input type="radio" id="lawyer" name="role" value="lawyer" [(ngModel)]="this.newRole">
          <label for="lawyer">律師</label><br>
        </div>

        <div class="option">
          <input type="radio" id="user" name="role" value="user" [(ngModel)]="this.newRole">
          <label for="user">一般會員</label><br>
        </div>
        }

      </div>
    </div>

    <!-- 根據選擇的使用者類型顯示input框 -->
    <div class="input-area">
      @if (this.newRole == 'lawFirm') {
      <div class="form-group">
        <label for="name">名稱：</label>
        <input type="text" id="name" [(ngModel)]="name" placeholder="請輸入名稱" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="phone">電話：</label>
        <input type="text" id="phone" [(ngModel)]="phone" placeholder="請輸入聯絡電話" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="address">地址：</label>
        <input type="text" id="address" [(ngModel)]="address" placeholder="請輸入地址" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="lawFirmNumber">事務所統編：</label>
        <input type="text" id="lawFirmNumber" [(ngModel)]="lawFirmNumber" placeholder="請輸入地址" class="form-control"
          required>
      </div>

      <!-- 確認與取消按鈕 -->
      <div class="btn-area">
        <button type="button" class="btn-submit" (click)="updateInfo()">送出</button>
        <button type="button" class="btn-cancel" (click)="backToAccountCenter()">取消</button>
      </div>
      }

      @if (this.newRole == 'lawyer') {
      <div class="form-group">
        <label for="name">名稱：</label>
        <input type="text" id="name" [(ngModel)]="name" placeholder="請輸入名稱" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="phone">電話：</label>
        <input type="text" id="phone" [(ngModel)]="phone" placeholder="請輸入聯絡電話" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="licenseNumber">律師證書字號：</label>
        <input type="text" id="licenseNumber" [(ngModel)]="licenseNumber" placeholder="請輸入律師證書字號" class="form-control"
          required>
      </div>

      <div class="form-group">
        <label for="lawFirm">所屬事務所：</label>
        <input type="text" id="lawFirm" [(ngModel)]="lawFirm" placeholder="請輸入所屬事務所" class="form-control" required>
      </div>

      <!-- 確認與取消按鈕 -->
      <div class="btn-area">
        <button type="button" class="btn-submit" (click)="updateInfo()">送出</button>
        <button type="button" class="btn-cancel" (click)="backToAccountCenter()">取消</button>
      </div>
      }

      @if (this.newRole == 'user') {
      <div class="form-group">
        <label for="name">名稱：</label>
        <input type="text" id="name" [(ngModel)]="name" placeholder="請輸入名稱" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="phone">電話：</label>
        <input type="text" id="phone" [(ngModel)]="phone" placeholder="請輸入聯絡電話" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="city">所在縣市：</label>
        <select class="form-select" id="city" [(ngModel)]="city" aria-label="Default select example">
          <option value="" selected>所在縣市</option>
          <option value="臺北市">臺北市</option>
          <option value="基隆市">基隆市</option>
          <option value="新北市">新北市</option>
          <option value="桃園市">桃園市</option>
          <option value="新竹市">新竹市</option>
          <option value="新竹縣">新竹縣</option>
          <option value="苗栗縣">苗栗縣</option>
          <option value="臺中市">臺中市</option>
          <option value="彰化縣">彰化縣</option>
          <option value="南投縣">南投縣</option>
          <option value="雲林縣">雲林縣</option>
          <option value="嘉義市">嘉義市</option>
          <option value="嘉義縣">嘉義縣</option>
          <option value="臺南市">臺南市</option>
          <option value="高雄市">高雄市</option>
          <option value="屏東縣">屏東縣</option>
          <option value="宜蘭縣">宜蘭縣</option>
          <option value="花蓮縣">花蓮縣</option>
          <option value="臺東縣">臺東縣</option>
          <option value="澎湖縣">澎湖縣</option>
          <option value="金門縣">金門縣</option>
          <option value="連江縣">連江縣</option>
        </select>
      </div>

      <!-- 確認與取消按鈕 -->
      <div class="btn-area">
        <button type="button" class="btn-submit" (click)="updateInfo()">送出</button>
        <button type="button" class="btn-cancel" (click)="backToAccountCenter()">取消</button>
      </div>
      }

    </div>

  </div>

  <!-- 方案介紹 -->
  <div class="plan-area">
    <h2>會員方案介紹</h2>
    <div class="flex lawFirm">
      <h3>事務所</h3>
      <div class="line"></div>
      <div class="plan-content">
        <p>書籤</p>
        <p>瀏覽紀錄</p>
        <p>成員管理</p>
      </div>
    </div>
    <div class="flex lawyer">
      <h3>律師</h3>
      <div class="line"></div>
      <div class="plan-content">
        <p>書籤</p>
        <p>瀏覽紀錄</p>
        <p>客戶管理</p>
      </div>
    </div>
    <div class="flex user">
      <h3>一般會員</h3>
      <div class="line"></div>
      <div class="plan-content">
        <p>書籤</p>
        <p>瀏覽紀錄</p>
      </div>
    </div>
  </div>


</div>
