<mat-toolbar class="top">
  <span>選擇法院</span>
  <button mat-icon-button mat-dialog-close class="close_icon">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>


<mat-dialog-content class="mat-text">
  <form [formGroup]="selectCourtform">
    <div class="form-content">
      <section class="example-section" formGroupName="toppings">

        <!-- Checkbox 選擇法院 -->
        <h3>北部:</h3>
        <p><mat-checkbox formControlName="TPD">臺灣臺北地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="PCD">臺灣新北地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="SLD">臺灣士林地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="TYD">臺灣桃園地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="SCD">臺灣新竹地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="ILD">臺灣宜蘭地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="KLD">臺灣基隆地方法院</mat-checkbox></p>
        <h3>中部:</h3>
        <p><mat-checkbox formControlName="MLD">臺灣苗栗地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="TCD">臺灣臺中地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="CHD">臺灣彰化地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="NTD">臺灣南投地方法院</mat-checkbox></p>
        <h3>南部:</h3>
        <p><mat-checkbox formControlName="ULD">臺灣雲林地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="CYD">臺灣嘉義地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="TND">臺灣臺南地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="CTD">臺灣橋頭地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="KSD">臺灣高雄地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="PTD">臺灣屏東地方法院</mat-checkbox></p>
        <h3>東部:</h3>
        <p><mat-checkbox formControlName="TTD">臺灣臺東地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="HLD">臺灣花蓮地方法院</mat-checkbox></p>
        <h3>離島:</h3>
        <p><mat-checkbox formControlName="PHD">臺灣澎湖地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="LCD">福建連江地方法院</mat-checkbox></p>
        <p><mat-checkbox formControlName="KMD">福建金門地方法院</mat-checkbox></p>
      </section>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button type="submit" (click)="submit()">
    <mat-icon>save</mat-icon> 選擇
  </button>
</mat-dialog-actions>
