<div class="container">

  <div class="text-area">
    <h2>忘記密碼</h2>
    <div class="nav"></div>
    <p>請輸入您註冊時使用的email<br>我們將會傳送一封驗證信至您的信箱</p>
    <div class="forgot-password-form">
      <input type="text" class="form-control" pInputText [(ngModel)]="email" (keyup)="updateEmailForm()"
        placeholder="請輸入Email" />
      @if (errorMessage) {
      <small style="color: red; display: block; margin-top: 10px;">{{errorMessage}}</small>
      }
      <button type="button" class="btn-submit" (click)="forgotPassword()">送出</button>
    </div>
  </div>
  
</div>
