@font-face {
  font-family: 'GenKiMin';
  src: url('../../../../public/GenKiMin2TW-M.otf');
}

:host {
  display: block;
  margin: 0; 
  padding: 0; 
  width: 100%;  
  box-sizing: border-box;
  background-color: #ccd9ff40;
}

.container {
  display: flex;
  min-height: 80vh;
  flex-direction: column; /* 讓內容垂直排列 */
}


.text-area {
  margin: 0 auto;
  width: 50%;
  min-height: 50vh;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 0 15px gray;
  margin-top: 5rem;
}

h2 {
  font-family: 'GenKiMin' , 'sans-serif';
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.nav {
  width: 200px;
  height: 5px;
  background-color: #005593;
  margin-bottom: 2rem;
}

.form-control {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  background-color: #f7f7f7;
  color: #333;
  width: 90%;
  box-sizing: border-box;
  margin-top: 2rem;
}

.form-control:focus {
  outline: none;
  border-color: #4A90E2;
  background-color: #fff;
}

.btn-submit {
  width: 5rem;
  height: 2.5rem;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #005593;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 40%;
  position: relative;
  margin-top: 2rem;
}

.btn-submit:hover {
  background-color: #357ABD;
}

.btn-submit:active {
  background-color: #2a5c89;
}

small {
  color: red;
  display: block;
  margin-top: 10px;
  position: relative;
  width: 100%;
}

