<div class="container">

  <div class="register-info">
    <h1>註冊會員帳號</h1>
    <div class="nav"></div>
    <h3>請輸入以下資料以完成註冊</h3>


    <div class="input-info">
      <div class="email-area">
        <label style="font-size: 18px;">請輸入Email</label>
        <input type="text" class="input-email ng-invalid ng-dirty " pInputText [(ngModel)]="email"
          (keyup)="updateEmailForm()" />
        @if (errorMessage) {
        <br>
        <small style="color: red; display: inline-block; margin-left: 1%; position: absolute;left: 38%;">
          {{errorMessage}}
        </small>
        }
      </div>

      <div class="pwd-area">
        <div class="password-wrapper">
          <label class="input-label" style="font-size: 18px;">請輸入密碼</label>
          <input type="{{ isPasswordVisible ? 'text' : 'password' }}" pInputText [(ngModel)]="rawPwd">
          <button type="button" (click)="togglePassword()">
            <i [class]="isPasswordVisible ?  'pi pi-eye' : 'pi pi-eye-slash' "></i>
          </button>
        </div>
        <!-- <div class="input-psw">
          <label style="margin-top: 20px; font-size: 18px;">請再次輸入密碼</label>
          <p-password class="input-psw ng-invalid ng-dirty " [(ngModel)]="confirmPwd" (keyup)="pwdValidation()"
            [feedback]="false" [toggleMask]="true" />
          @if (errorMessage2) {
            <br>
          <small style="color: red; display: inline-block; margin-left: 1%; position: absolute;left: 38%;">
            {{errorMessage2}}
          </small>
          }
        </div> -->

        <div class="password-wrapper">
          <label class="input-label" style="font-size: 18px;">請再次輸入密碼</label>
          <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}" pInputText [(ngModel)]="confirmPwd" 
          (keyup)="pwdValidation()">
          <button type="button" (click)="togglePassword2()">
            <i [class]="isPasswordVisible2 ?  'pi pi-eye' : 'pi pi-eye-slash' "></i>
          </button>
        </div>
        @if (errorMessage2) {
        <small style="color: red; display: inline-block; margin-left: 1%; position: absolute;left: 38%;">
          {{errorMessage2}}
        </small>
        }
      </div>

      <div class="btn-area">
        <button class="btn" (click)="goRegister()">註冊</button>
        <button class="btn" (click)="goBack()">取消</button>
      </div>

    </div>




  </div>