<div class="title">
  <h1 mat-dialog-title>有期徒刑案件一覽</h1>
</div>
<div mat-dialog-content>
  <div class="input-area">
    <input type="text" (keyup)="applyFilter($event)" placeholder="請輸入篩選條件" #input>
    <span style="margin-left: 0.5%;">可依判決書字號、判決年度、案由、法官、律師關鍵字查詢</span>
  </div>


  <div class="mat-elevation-z8" style="padding: 0 3%">
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="change(false)" matTooltip="依判決書字號排序"> 判決書字號 </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- VerdictYear Column -->
      <ng-container matColumnDef="verdictYear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="change(true)" [matTooltip]="yeardescription"> 判決年度 </th>
        <td mat-cell *matCellDef="let row"> {{row.verdictYear}}年 </td>
      </ng-container>

      <!-- Charge Column -->
      <ng-container matColumnDef="charge">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="change(false)" matTooltip="依案由排序"> 案由 </th>
        <td mat-cell *matCellDef="let row"> {{row.charge}} </td>
      </ng-container>

      <!-- Judge Column -->
      <ng-container matColumnDef="judge">
        <th mat-header-cell *matHeaderCellDef > 法官 </th>
        <td mat-cell *matCellDef="let row"> {{row.judge}} </td>
      </ng-container>

      <!-- Lawyer Column -->
      <ng-container matColumnDef="lawyer">
        <th mat-header-cell *matHeaderCellDef > 律師 </th>
        <td mat-cell *matCellDef="let row"> {{row.lawyer}} </td>
      </ng-container>

      <!-- Url Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef > 判決書連結 </th>
        <td mat-cell *matCellDef="let row"><a [href]="row.url">連結</a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">尚無案件資訊 "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
      ></mat-paginator>
  </div>
</div>

<div mat-dialog-actions>
  <mat-icon class="close-icon large" aria-hidden="false" aria-label="close" fontIcon="close"
    (click)="onNoClick()"></mat-icon>
</div>
