<mat-toolbar>
  <div class="toolbar-container">
    <div class="left-section">
      <!-- 在首頁以外的畫面點擊標題後會回到首頁 -->
      @if(routerUrl != '/' && routerUrl != '/search'){
      <div routerLink="/search" class="title" title="首頁" style="cursor: pointer;">法律雲平台</div>
      }@else {
      <div class="title">法律雲平台</div>
      }
      <!-- <div class="toolbar-link">
        <span>使用說明</span>
        <span>|</span>
        <span>問題反映</span>
        <span>|</span>
        <span>刑事案件量刑審酌事項參考手冊</span>
      </div> -->
    </div>

    <div class="right-section">
      <!-- 在首頁以外的畫面顯示回首頁按鈕 -->
      @if(session.getIsLogin()){
      <span class="hello"> 你好 {{userName}} {{toChinese(userRole)}}</span>
      <span style="margin-left: 1rem;margin-right: 1rem;">|</span>
      }
      @if(routerUrl != '/' && routerUrl != '/search'){
      <div>
        <a class="link-css" routerLink="/search">首頁</a>
        <span style="margin-left: 1rem;">|</span>
      </div>
      }
      <div class="login">
        @if (session.getIsLogin()) {
        <span (click)="goLogout()" style="cursor: pointer; margin-left: 1rem;">登出</span>
        <span style="margin-left: 1rem;">|</span>
        <span (click)="goAccountCenter()" style="cursor: pointer; margin-left: 1rem;">會員中心</span>
        } @else {
        <span (click)="goLogin()" style="cursor: pointer; margin-left: 1rem;">登入</span>
        <span style="margin-left: 1rem;">|</span>
        <span (click)="goRegister()" style="cursor: pointer; margin-left: 1rem;">註冊</span>
        }
      </div>
    </div>
  </div>
</mat-toolbar>
