<div class="container">
  <div class="login">
    @if (session.getIsLogin()) {
    <span> 你好 {{userName}}  {{toChinese(userRole)}}</span>
    <span style="margin-left: 1rem;">|</span>
    <span (click)="goLogout()" class="click" style="cursor: pointer; margin-left: 1rem;">登出</span>
    <span style="margin-left: 1rem;">|</span>
    <span (click)="goAccountCenter()" style="cursor: pointer; margin-left: 1rem;">會員中心</span>

    } @else {
    <span (click)="goLogin()" class="click" style="cursor: pointer; margin-left: 1rem;">登入</span>
    <span style="margin-left: 1rem;">|</span>
    <span (click)="goRegister()" class="click" style="cursor: pointer; margin-left: 1rem;">註冊</span>
    }
  </div>

  <div class="search-area">
    <h1>法律雲平台</h1>
    <div class="input-search-button">
      <input [(ngModel)]="keywords" placeholder="可輸入法院名稱、裁判案號、案由、全文檢索字詞"
      (keyup.enter)="confirm()"><!--按 enter 直接搜尋-->
      <button type="button" class="btn btn-secondary btn-sm" (click)="confirm()">搜尋</button>
    </div>
  </div>


  <!-- 進階條件 -->
  <div class="bottom-area">
    <p>
      <span class="btn" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample" (click)="toggleAdvanced()">
        @if (!isExpanded) {
        <span class="d-flex align-items-center">
          進階篩選條件 <mat-icon>keyboard_arrow_down</mat-icon>
        </span>

        }
        @if (isExpanded) {
        <span class="d-flex align-items-center">
          收起篩選條件 <mat-icon>keyboard_arrow_up</mat-icon>
        </span>
        }
      </span>
    </p>


    <div class="collapse" id="collapseExample">
      <div class=" card-body">

        <!-- 進階條件中的搜尋 -->
        <div class="layout-container">
          <!-- 左邊的 Accordion -->
          <div class=" flex justify-center accordion-container">
            <p-accordion class="custom1" [multiple]="true">
              <p-accordion-panel value="0">
                <p-accordion-header>裁判案由</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0">
                    <input pInputText id="username" aria-describedby="username-help" pSize="small"
                      [(ngModel)]="inputCase" placeholder="例如：傷害等" />
                  </p>
                </p-accordion-content>
              </p-accordion-panel>
              <p-accordion-panel value="1">
                <p-accordion-header>選擇法院</p-accordion-header>
                <p-accordion-content>
                  <div class="m-0">
                    <div class="flex justify-center test">
                      <p-multiselect [options]="groupedCourts" [group]="true" [(ngModel)]="inputCourts"
                        placeholder="請選擇法院" scrollHeight="250px" display="chip" styleClass="w-full md:w-30"
                        appendTo="body" size="small">
                        <div class=".p-multiselect-header">全選</div>
                        <ng-template let-group #group>
                          <div class="flex items-center">
                            <span>{{ group.label }}</span>
                          </div>
                        </ng-template>
                      </p-multiselect>
                    </div>
                  </div>
                </p-accordion-content>
              </p-accordion-panel>
              <p-accordion-panel value="2">
                <p-accordion-header>法條搜索</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0">
                    <input pInputText id="username" aria-describedby="username-help" pSize="small" [(ngModel)]="law"
                      (keyup)="updateLawsList()" placeholder="例如：刑法第277條;刑法271條" />
                    <small id="username-help" style="display: inline-block; margin-left: 1%;">不同法條請用分號（;）隔開</small>
                    @if (errorMessage) {
                    <small style="color: red; display: inline-block; margin-left: 1%">{{errorMessage}}</small>
                    }
                  </p>
                </p-accordion-content>
              </p-accordion-panel>
              <p-accordion-panel value="3">
                <p-accordion-header>案件類型</p-accordion-header>
                <p-accordion-content>
                  <div class="m-0">
                    <div class="case-type">
                      <p-checkbox inputId="ingredient1" name="lawType" value="刑事" [(ngModel)]="lawType" />
                      <label for="ingredient1" class="ml-2"> 刑事 </label>
                      <p-checkbox inputId="ingredient2" name="lawType" value="民事" [(ngModel)]="lawType" />
                      <label for="ingredient2" class="ml-2"> 民事 </label>
                    </div>
                  </div>
                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>
          </div>

          <!-- 右邊的 Accordion -->
          <div class=" flex justify-center accordion-container">
            <p-accordion [multiple]="true">
              <p-accordion-panel value="0">
                <p-accordion-header>裁判字號</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0">
                    <select [(ngModel)]="year">
                      <option value=""></option>
                      @for (year of ['89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101',
                      '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113']; track $index)
                      {
                      <option>{{ year }}</option>
                      }
                    </select>
                    年度
                    <input [(ngModel)]="zhi">
                    字第
                    <input [(ngModel)]="hao">
                    號
                  </p>
                </p-accordion-content>
              </p-accordion-panel>
              <p-accordion-panel value="1">
                <p-accordion-header>裁判期間</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0">
                    <input type="date" id="start" name="trip-start" [(ngModel)]="startDate" />
                    <span style="padding-left: 0.3rem ; padding-right: 0.3rem;">至</span>
                    <input type="date" id="start" name="trip-start" [min]="startDate" [(ngModel)]="endDate" />
                  </p>
                </p-accordion-content>
              </p-accordion-panel>
              <p-accordion-panel value="2">
                <p-accordion-header>裁判種類</p-accordion-header>
                <p-accordion-content>
                  <p class="m-0">
                    <select [(ngModel)]="caseType" class="wide-select">
                      <option value="">請選擇種類</option>
                      <option value="判決">判決</option>
                      <option value="裁定">裁定</option>
                    </select>
                  </p>
                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>
          </div>
        </div>






      </div>
    </div>
  </div>
</div>
