@font-face {
  font-family: "TaipeiR";
  src: url("../../../../../public/TaipeiSansTCBeta-Regular.ttf");
}

@font-face {
  font-family: "Jyuu";
  src: url("../../../../../public/GenJyuuGothicL-Monospace-Normal.ttf");
}

:host {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // background: linear-gradient(135deg, #f5f7fa, #c3d5eb);
}

.container {
  padding: 2rem;
  height: 100%;
  width: 90%;
}

h2 {
  font-size: 28px;
  margin-top: 1rem;
  color: #333;
  font-family: "TaipeiR" , sans-serif;
}

.nav {
  width: 30%;
  height: 5px;
  margin-bottom: 2rem;
  background-color: #005593;
}

ul {
  list-style: none; // 移除默認項目符號
  padding: 0;
  margin: 2rem auto;
  max-width: 100%;

  .header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 10px 0;
    border-bottom: 3px solid #a5a5a5;

    .id-header {
      width: 50rem;
      font-size: 22px;
      margin-left: 1.2rem;
      font-weight: bold;
    }

    .date-header {
      font-size: 22px;
      font-weight: bold;
    }
  }

  .content {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .id {
      width: 50rem;
      font-family: "Jyuu" , sans-serif;
    }

    span {
      font-size: 20px;
      color: #555;

      &:first-child {
        color: #007bff;
        cursor: pointer;
        text-decoration: underline;
        transition: color 0.3s;

        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}
