:host {
  display: block;
  min-height: 100vh;            //確保覆蓋整個瀏覽器視口高度
  background-image: url('../../../../public/background.png'), linear-gradient(to top, #030303 0%, #acacac 100%);
  padding: 20px;                //為內部內容留出間距
  box-sizing: border-box;
  width:100%;
  background-size: cover;
  background-blend-mode: screen;
}

.select-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 80px auto 15px auto;
  max-width: 1000px;
  padding: 20px 25px;
  background-color: #D3DADF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.select-option,
.select-case {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* 搜尋標籤 */
.search-label {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  width: auto;
  white-space: nowrap;
  text-align: right;
}

.select-case .search-label {
  margin-left: 10px;
}

.select-option select,
.select-case select {
  width: 220px;
  height: 36px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}


.select-option select:focus,
.select-case select:focus {
  border-color: #87bfb7;
  box-shadow: 0 0 5px rgba(135, 191, 183, 0.5);
}

.select-option select option:disabled {
  color: #999;
}

/* 選擇按鈕區 */
.select-container2 {
  display: flex;
  justify-content: space-evenly;
  gap: 200px;
  margin: 10px;

  button[mat-raised-button] {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #1F618D;
    padding: 8px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  button[mat-raised-button]:hover {
    background-color: #184b6d;
    transform: scale(1.05);
  }

  button[mat-raised-button]:active {
    background-color: #1F618D;
  }

  button[mat-raised-button]:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(132, 186, 213);
  }
}



/* 黃色區域 */
.yellow-container {
  display: flex;
  justify-content: space-evenly;
}


.selected-items-container {
  width: 400px;
  min-height: 300px;
  padding: 20px;
  background-color: white;
  opacity: 0.8;
  border-radius: 16px;
  border: black solid 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.selected-items {
  flex-wrap: wrap;
  gap: 10px;
}

.selected-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 12px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;

  ul {
    padding: 10px;
    margin-bottom: 0;
  }
}


.selected-item .remove-btn {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}


/* 底部按鈕區域 */
.bottom-button {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 20px;
  margin-right: 40px;

  button[mat-raised-button] {
    font-size: 15px;
    font-weight: 550;
    color: #fff;
    background-color: #1F618D;
    padding: 8px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  button[mat-raised-button]:hover {
    background-color: #184b6d;
    transform: scale(1.05);
  }

  button[mat-raised-button]:active {
    background-color: #1F618D;
  }

  button[mat-raised-button]:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(132, 186, 213);
  }

}
