:host {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 100vh;  
  background-color: #c3cfde;
}

.pic {
  width: 35%;
  background:url('../../../../public/login.png') 0 0 no-repeat #005593;
  background-size: 100% 100%;
  box-shadow: 0 0 15px gray;
}

.content {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
}

.text-area {
  width: 35%;
  height: 40rem;
  background-color: #ffffff;
  padding: 1.5rem;
  padding-top: 2rem;
  box-shadow: 0 0 15px gray;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: bold;
}

.nav {
  width: 200px;
  height: 5px;
  background-color: #005593;
  margin-bottom: 10%;
}


.reset-password-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-email {
  width: 100%;
  max-width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #000000;
}

.input-email:focus {
  outline: none;
  border-color: #10b981;
  background-color: #fff;
}

::ng-deep .p-password {
  width: 100%;
  max-width: 100%;
}

::ng-deep .p-password input.p-inputtext {
  width: 100% ;
  max-width: 100% ;
  background-color: white;
  border: 1px solid #575757;
}


.btn-submit {
  padding: 7px 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 9rem;
  margin-top: 3rem;
}

.btn-submit:hover {
  background-color: #357ABD;
}

.btn-submit:active {
  background-color: #2a5c89;
}

small {
  color: red;
  display: block;
  margin-top: 10px;
  position: relative;
  width: 100%;
}
