<div class="content">

  <div class="text-area">
    <h2>重置密碼</h2>
    <div class="nav"></div>
    <div class="reset-password-form">
      <label style="display: block; font-size: 18px;">請輸入Email</label>
      <input type="text" class="input-email ng-invalid ng-dirty " pInputText [(ngModel)]="email"
        (keyup)="updateEmailForm()" />
      @if (errorMessage) {
      <small style="color: red; display: block; margin-top: 2px;">{{errorMessage}}</small>
      }

      <label style="display: block; margin-top: 2rem; font-size: 18px;">請輸入密碼</label>
      <p-password class="input-psw ng-invalid ng-dirty " [(ngModel)]="rawPwd" [feedback]="false" [toggleMask]="true" />
      <label style="display: block; margin-top: 2rem; font-size: 18px;">請再次輸入密碼</label>
      <p-password class="input-psw ng-invalid ng-dirty " [(ngModel)]="confirmPwd" (keyup)="pwdValidation()"
        [feedback]="false" [toggleMask]="true" />
      @if (errorMessage2) {
      <small style="color: red; display: inline-block; margin-left: 1%">{{errorMessage2}}</small>
      }

      <button type="button" class="btn-submit" (click)="resetPassword()">送出</button>
    </div>
  </div>

  <div class="pic"></div>

</div>